.idea
dockers/mysql/data
dockers/paig-securechat-safe/securechat
dockers/paig-securechat-unsafe/securechat

# Ignore all .env files
*.env

# Ignore all files matching privacera-shield-*-config.json pattern
privacera-shield-*-config.json
